@charset "UTF-8";

body {
	background-color: #f7f7f7;
	color: #444;
}


/* Basic layout */

.page {
	max-width: 800px;
	margin: 0 auto;
	background-color: #fff;
}
.header,
.content,
.footer {
	padding: 20px;
}


/* Lists */

dl {
	margin: 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-left: 0;
	margin-bottom: .5em;
}


/* Navigation */

.navigation {
	margin: 0;
	padding: 0;
	list-style: none;
}
.navigation > li {
	display: inline-block;
}
.navigation > li:before {
	content: "|";
	display: inline-block;
	margin: 0 .5em;
	color: #ccc;
}
.navigation > li:first-child:before {
	display: none;
}


/* Footer */

.footer {
	text-align: center;
	color: #777;
}


/* KERB */

.kerb-traders {
	margin: 0;
	padding: 0;
	list-style: none;
}
.kerb-traders > li {
	margin: 0 0 1em 0;
}
.kerb-traders img {
	float: left;
	width: 50px;
	margin-right: .5em;
}
.kerb-traders h3 {
	margin: 0 0 .5em 0;
}


/* Clearfix */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
